<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>Test</title>
  <link rel="stylesheet" href="static/css/bootstrap.css"/>
  <link rel="stylesheet" href="static/css/rateit.css"/>
  <script type="text/javascript" src="static/js/jquery.min.js"></script>
  <script type="text/javascript" src="static/js/jquery.rateit.min.js"></script>
  <style>body {padding-top:10px} .navbar{padding-bottom:20px;}</style>
</head>
<body>
    <div class="navbar">
    <div class="navbar-inner">
    <a class="brand" href="#">Systembetyget</a>
    <ul class="nav">
    <li class="active"><a href="#">Home</a></li>
    </ul>
      <form class="navbar-form pull-right" method="GET">
        <input type="text" class="search-query" name="searchterm" placeholder="sök" />
        <select name="target">
          <option value="Prisinklmoms">Pris</option>
          <option value="PrisPerLiter">Pris/Liter</option>
        <select>
        <input type="text" name="from" placeholder="från" />
        <input type="text" name="to" placeholder="till" />
        <button type="submit" class="btn btn-primary" name="submit">Sök</button>
      </form>
    </div>
    </div>
  </div>
<div class="row-fluid">
  <div class="span1">
    <ul class="nav nav-list">
      <li class="nav-header">Katagori</li>
      <li><a href="/">Allt</a></li>
      <li><a href="?cat=Vitt+Vin">Vitt Vin</a></li>
      <li><a href="?cat=Rött+Vin">Rött Vin</a></li>
      <li><a href="?cat=Öl">Öl</a></li>
      <li><a href="?cat=Whisky">Whisky</a></li>
    </ul>
  </div>
  <div class="span11">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
      {% for header in ['Name', 'Category', 'Producer', 'Price', 'Price/Liter', 'Origin', 'Alcohol %', 'Rating']  %}
        <td>{{ header }}</td>
      {% endfor %}
      </tr>
    </thead>
    <tbody>
    {% for item in output['hits']['hits'] %}
    <tr>
    {% for value in ['Namn','Varugrupp','Producent','Prisinklmoms','PrisPerLiter','Ursprunglandnamn', 'Alkoholhalt'] %}
      <td>{{ item['_source'][value] }}</td>
    {% endfor %}
      <td>{{ fetch_rating(item['_source']['Artikelid']) }}</td>
      <td><div class="rateit" data-rateit-value="{{ fetch_rating(item['_source']['Artikelid']) }}" data-rateit-readonly="true" data-rateit-step="1" data-rateit-resetable="false" ></td>
    </tr>
  {% endfor %}
    </tbody>
  </table>
</div>
</div>
</body>
</html>
